@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Companies" asp-action="Index">Manage companies</a> |
    <a asp-controller="Stores" asp-action="Index">Manage stores</a>
</div>
